{% extends ':default:index.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('get_users', {'offset': 10, 'limit': 20}) }}">Get users with limit and offset</a>
        </li>
        <li>
            <a href="{{ path('get_user', {'id': user1.id}) }}">Get user with id: {{ user1.id }}</a>
        </li>
        <li>
            <a href="{{ path('get_user_connections', {'id': user1.id}) }}">Get connections for user with id: {{ user1.id }}</a>
        </li>
        <li>
            It should be "POST" method, "GET" is used for simplicity
            <a href="{{ path('create_user_connection', {'id': user1.id, 'connectionId': user2.id}) }}">Create connection for user with id: {{ user1.id }}</a>
        </li>
        <li>
            <a href="{{ path('get_users', {'firstName': user1.firstName}) }}">Get users by first name</a>
            It is not search, filter by complete match
        </li>
        <li>
            <a href="{{ path('get_user', {'id': 'blatest'}) }}">Get not existing user</a>
        </li>
    </ul>
{% endblock %}
